@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #080c20;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  padding-left: 100px;
}

.logo img {
  margin: 20px;
}

.container {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Manrope", sans-serif;
  width: 100vw;
  height: 30vh;
  margin-top: 100px;
}

.hero-container img {
  width: 350px;
}

.hero-heading {
  font-weight: 800;
  font-size: 48px;
  width: 500px;
  color: #fff;
}

.center-hero {
  background: url("./assets/bg-hero-squiggle.svg");
  margin: 25px 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.scroll-icon {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.teal {
  color: #3ee9e5;
}

.text {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 12px;
  width: 300px;
  text-align: left;
  margin-top: 25px;
  color: #777f98;
}

.perks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 200px 25px 100px 25px;
  width: 100vw;
}

.perks-container .text {
  padding: 0 50px;
}

.image-low {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background: #093f68;
  border-radius: 45px;
  margin-bottom: 30px;
}

.perk-heading {
  color: #fff;
  font-family: "Manrope";
}

.perk-low {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.perk-high {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 300px;
}

.pricing-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Manrope";
  color: #fff;
  width: 100vw;
}

.pricing-plan-text {
  text-align: center;
  width: 400px;
}
.pricing-heading {
  font-weight: 800;
  font-size: 30px;
}

.options-heading {
  color: #fff;
}

.price-options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 125px 0px;
  padding: 0 100px;
  font-family: "Manrope";
  position: relative;
  width: 100vw;
}

.option-left {
  height: 425px;
  width: 400px;
  background-color: #093f68;
  border-radius: 10px;
  margin-right: 25px;
}

.options-left-heading {
  color: #fff;
  text-align: left;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.left-options-text {
  color: #777f98;
  padding: 0 15px;
  text-align: left;
  margin-bottom: 25px;
}

.options-price-left {
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.bullets-left {
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 40px;
  line-height: 30px;
}

.bullets-left li {
  list-style: none;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
}
.bullets-left ul li:before {
  content: "✓";
  color: #3ee9e5;
  padding-right: 20px;
}

.option-right {
  height: 450px;
  width: 400px;
  background-color: #3ee9e5;
  border-radius: 10px;
}

.options-right-heading {
  text-align: left;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.options-right-text {
  text-align: left;
  padding: 0 15px;
  margin-bottom: 25px;
}
.options-price-right {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.bullets-right {
  color: #080c20;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 40px;
  line-height: 30px;
}

.bullets-right li {
  list-style: none;
  text-align: left;
}
.bullets-right ul li:before {
  content: "✓";
  color: #080c20;
  padding-right: 20px;
}

.options-right-heading {
  color: #080c20;
}

.options-price-right {
  color: #080c20;
}
.icon {
  display: flex;
  justify-content: left;
  align-items: center;
}
.icon img {
  margin-top: -20px;
  margin-left: 45px;
}
.icon-paid {
  margin-top: -15px;
}
.notify {
  display: flex;
  flex-direction: column;
  background: url("./assets/bg-footer-squiggle.svg");
  background-repeat: no-repeat;
  height: 300px;
  font-family: "Manrope";
}
.notify-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.notify-header h2 {
  color: #fff;
  text-align: center;

  padding: 20px;
  margin-left: 20px;
}
.notify-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.input-container {
  display: flex;
}

.form input {
  background-color: #093f68;
  color: #fff;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  border-width: 0;
  float: right;
  margin-bottom: 50px;
  font-weight: 500;
}

.form input:focus-visible {
  outline: none;
}

.btn {
  background-color: #3ee9e5;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #093f68;
  padding: 0 20px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #3ee9e5;
  background-color: #080c20;
  color: #fff;
}

#error {
  font-size: 8px;
  padding-left: 13px;
  color: #ff2965;
}

.error-container {
  display: none;
}
.error-container {
  display: block;
  color: #fff;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .hero-container {
    margin-top: 15px;
  }

  .hero-container img {
    width: 50px;
  }

  .hero-heading {
    font-weight: 800;
    font-size: 30px;
    width: 238px;
    color: #fff;
    text-align: center;
    padding-left: 50px;
    margin-top: 70px;
  }

  .center-hero {
    background: none;
    margin: 25px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .left-hero {
    display: none;
  }
  .right-hero {
    display: none;
  }
  .hidden {
    background: url("./assets/illustration-hero-mobile.png") center;
    height: 200px;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 25px;
  }
  .text {
    text-align: center;
    padding-left: 50px;
  }
  .scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .scroll-icon {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 42%;
  }
  .perks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .perks-container .text {
    padding: 0;
    margin-top: 10px;
  }

  .image-low {
    margin-bottom: 0px;
  }

  .perk-heading {
    margin-top: 50px;
  }

  .perk-low {
    margin-bottom: 35px;
  }

  .perk-high {
    margin-bottom: 35px;
  }

  .pricing-heading {
    font-size: 25px;
  }

  .price-options {
    margin: 75px 0px;
    padding: 0 0px;
    flex-direction: column;
  }

  .option-left {
    height: 390px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 75px;
  }

  .options-left-heading {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .bullets-left ul li:before {
    content: "✓";
    color: #3ee9e5;
    padding-right: 20px;
  }

  .option-right {
    height: 415px;
    width: 300px;
    background-color: #3ee9e5;
    border-radius: 10px;
  }

  .options-right-heading {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .options-right-text {
    text-align: left;
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .options-price-right {
    text-align: left;

    margin-bottom: 20px;
  }
  .notify {
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 300px;
  }
  .notify-header {
    background: url("./assets/bg-footer-squiggle.svg");
    background-size: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notify-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form input {
    width: 80vw;
    text-align: left;
    border-width: 0;
    float: none;
    margin-bottom: 10px;
  }

  .form input:focus-visible {
    outline: none;
  }

  .btn {
    width: 80vw;
    border-radius: 30px;
    font-weight: 800;
  }

  .btn:hover {
    border: 2px solid #3ee9e5;
    background-color: #080c20;
    color: #fff;
  }
  #error {
    padding-left: 50px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 2200px) {
  .logo {
    justify-content: center;
  }
}
